In [ ]:
Criar um dicionário com 3 chaves ['nome1','nome2','nome3'] => nome1 lista, nome2-> tuple, nome3 dicionario

In [14]:
dicionario = {'Chave_1':[1,2.5,
                         'Python',
                         False],
              'Chave_2':([1,2.5,
                          'Python',
                          False],
                          1,
                          'Jupyter'),
              'Chave_3':{'Chave_3_1':
                             1,
                         'Chave_3_2': 
                             2}}

In [29]:
display(type(dicionario['Chave_3']['Chave_3_1']))
display(dicionario['Chave_3']['Chave_3_1'])

int

1

### Criar uma lista vazia em que:
    - A lista recebe x = [1,2,4,5,6,7,8,9,0,3,4,5,6,7,8,9,1] -> Time series
    - Se o valor for maior que 5 adciona o valor, senão soma valor + 5
    - faz while e for loop, testando o tempo de execução dos dois loops

In [91]:
lista_vazia_1 = []
lista_vazia_2 = []
x = [1,2,4,5,6,7,8,9,0,3,4,5,6,7,8,9,1]
from timeit import default_timer as timer

In [92]:
start_1 = timer()
for item in x:
    if item > 5:
        lista_vazia_1.append(item)
    else:
        lista_vazia_1.append(item+5)
end_1 = timer()
print('Finalizou thread 1 {} segundos'.format(end_1 - start_1))
print(lista_vazia_1)

Finalizou thread 1 0.00010449999990669312 segundos
[6, 7, 9, 10, 6, 7, 8, 9, 5, 8, 9, 10, 6, 7, 8, 9, 6]

In [97]:
print("'Curso'" + ' ' + "'Python'")
"""   "     ''       "      """

'Curso' 'Python'

In [93]:
start_2 = timer()
i = 0
while i < len(x):
    if x[i] > 5:
        lista_vazia_2.append(x[i])
        i+=1
    else:
        lista_vazia_2.append(x[i]+5)
        i+=1
end_2 = timer() 
print('Finalizou thread 2 {} segundos'.format(end_2 - start_2))
print(lista_vazia_2)

Finalizou thread 2 0.00025800000003073364 segundos
[6, 7, 9, 10, 6, 7, 8, 9, 5, 8, 9, 10, 6, 7, 8, 9, 6]

In [90]:
lista_vazia_1.reverse()
lista_vazia_2.reverse()

[6, 7, 9, 10, 6, 7, 8, 9, 5, 8, 9, 10, 6, 7, 8, 9, 6]

In [94]:
print(lista_vazia_1)
print(lista_vazia_2)

[6, 7, 9, 10, 6, 7, 8, 9, 5, 8, 9, 10, 6, 7, 8, 9, 6]
[6, 7, 9, 10, 6, 7, 8, 9, 5, 8, 9, 10, 6, 7, 8, 9, 6]

In [ ]:
x.reverse()

In [103]:
text_1 = """To exemplify how to use the several screen scraping 
          methods and the practical differences between them, let's first scrape a 
          Notepad window with some text and see what results we have. The following 
          screenshot is what we used."""

In [108]:
#text_1.split()

In [157]:
import pandas as pd
dados = {'Temperatura': [item*2.5 for item in lista_vazia_2], 'Umidade': x}

In [160]:
list_new = []
for item in lista_vazia_2:
    list_new.append(item*2.5)

In [161]:
print(list_new)

[15.0, 17.5, 22.5, 25.0, 15.0, 17.5, 20.0, 22.5, 12.5, 20.0, 22.5, 25.0, 15.0, 17.5, 20.0, 22.5, 15.0]

In [158]:
data_frame = pd.DataFrame(data=dados)

In [ ]:
rename(columns={'A': 'a'}, index={'ONE': 'one'})

In [168]:
data_frame.index = [i+1 for i  in range(len(data_frame))]

In [177]:
display(data_frame)

    Temperatura  Umidade
1          15.0        1
2          17.5        2
3          22.5        4
4          25.0        5
5          15.0        6
6          17.5        7
7          20.0        8
8          22.5        9
9          12.5        0
10         20.0        3
11         22.5        4
12         25.0        5
13         15.0        6
14         17.5        7
15         20.0        8
16         22.5        9
17         15.0        1

In [172]:
data_frame.columns

Index(['Temperatura', 'Umidade'], dtype='object')

In [186]:
for item in data_frame.columns:
    print(data_frame[item])

1     15.0
2     17.5
3     22.5
4     25.0
5     15.0
6     17.5
7     20.0
8     22.5
9     12.5
10    20.0
11    22.5
12    25.0
13    15.0
14    17.5
15    20.0
16    22.5
17    15.0
Name: Temperatura, dtype: float64
1     1
2     2
3     4
4     5
5     6
6     7
7     8
8     9
9     0
10    3
11    4
12    5
13    6
14    7
15    8
16    9
17    1
Name: Umidade, dtype: int64

        data_frame.iloc[1,1]

        data_frame.loc[1,'Temperatura']

        for i range(len(numero_de_linhas)):
            for j in range(len(numero_de_colunas)):
                print(data[i,j])

Converter as temperaturas em celsius para farenheit e criar uma coluna com valores de categoria [quente,frio, ...]

desafio plotar esses de tempratura com line_plot e fazer um scatter_plot com matplotlib e pandas

In [188]:
data_frame

    Temperatura  Umidade
1          15.0        1
2          17.5        2
3          22.5        4
4          25.0        5
5          15.0        6
6          17.5        7
7          20.0        8
8          22.5        9
9          12.5        0
10         20.0        3
11         22.5        4
12         25.0        5
13         15.0        6
14         17.5        7
15         20.0        8
16         22.5        9
17         15.0        1

In [ ]:
Converter a coluna umidade para intervalo [0,1] 
Criar coluna valores de categoria para a temperatura [quente,frio, ...]
Criar uma Coluna choveu ou não choveu
Calcular a probabilidade de chover ou nã
desafio plotar esses de tempratura com line_plot e fazer um scatter_plot com matplotlib e pandas